@page "/add-album"

<PageTitle>Add Album - Vinyl Shop</PageTitle>

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<p>@testText</p>

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @bind-IsValid="@success" @bind-Errors="@errors" Model="_album">
                <MudTextField @bind-Value="_album.Name"
                    T="string" Label="Title" Required="true" 
                    RequiredError="Title name is required!"
                    Validation="_album.Name"/>
                <MudTextField @bind-Value="_album.Description"
                    T="string" Label="Description" 
                    Required="true" 
                    RequiredError="Description name is required!" /> 
                <MudTextField @bind-Value="_album.Image"
                    T="string" Label="Image" 
                    Required="true" 
                    RequiredError="Image name is required!" />
                <MudTextField @bind-Value="_album.AuthorName"
                    T="string" Label="Author Name" 
                    Required="true" 
                    RequiredError="Author name name is required!" />
                <MudTextField T="int" Label="Time In Minutes" Required="true" RequiredError="Time in minutes is required!" />
                <MudTextField T="int" Label="Rating" Required="true" RequiredError="Rating is required!" />
                <MudTextField T="string" Label="Songs" Required="true" RequiredError="Songs is required!" />
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="RegisterUser">Register</MudButton>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.subtitle2">@($"Errors ({errors.Length})")</MudText>
            @foreach (var error in errors)
            {
                <MudText Color="@Color.Error">@error</MudText>
            }
        </MudPaper>
    </MudItem>
</MudGrid>


@code {
    private string testText = "";
    bool success;
    string[] errors = { };
    private AlbumDTO _album = new AlbumDTO();

    private void RegisterUser()
    {
        testText = _album.AuthorName;
        //TODO: - оправить в API
    }

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password is required!";
            yield break;
        }
        if (pw.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }
}